<script src="http://code.highcharts.com/highcharts.js"></script>

<h1 style="text-align: center;">Dashboard</h1>
<% if @goal.any? %>
   <% @goal.each do |goal| %>
      <%= goal.name %>
     <% end %>
   <% else %>No goals yet
<% end %>
<div id="chart-container" style="width:70%; height:400px; padding-left: 12%; padding-top: 5%;"></div>


<br></br>
<h1 style="text-align: center;">Savings vs Goal</h1>
<div id="main-progress-container" style="border: blue 2px solid; width:70%; margin-right: 90px; margin-left: 150px; margin-bottom: 10 px; padding: 25px">
  <div id="progress-bar-container">
    <div id="progress-bar">0%</div>
  </div>
</div>
<br><br><br>
