<script src="http://code.highcharts.com/highcharts.js"></script>

<h1 style="text-align: center;">Dashboard</h1>

<div id="chart-container" style="width:70%; height:400px; padding-left: 12%; padding-top: 5%;"></div>
<br></br>
<div id="progress-bar-container"></div>

<a href='/incomes/new'>Add Income</a>
